:root {
  --custom-aqua-blue: #27b6ff;
  --custom-delete-red: #d81111;
  --custom-gray-outline: #4c4c4c;
  --custom-blue-leather: #1976d2;
}

html {
  min-height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  min-height: 100vh;
}
