.table-container {
    /*display: flex;*/
    /*flex: 1 1 auto;*/
    height: 600px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.edit-table-row-icon {
    color: var(--custom-aqua-blue);
}

.delete-table-row-icon {
    color: var(--custom-delete-red);
}
